.p-Home.Flex9 {
display: flex;
width: ;
justify-content: center;
padding-top: 32px;
padding-bottom: 32px;
align-items: center;
}
.p-Home.Flex6 {
display: flex;
max-width: ;
width: 75%;
justify-content: space-between;
padding-left: ;
padding-right: ;
align-items: center;
}
.p-Home.Flex7 {
display: flex;
}
.p-Home.Flex8 {
display: flex;
row-gap: ;
column-gap: 20px;
padding-top: 7px;
font-family: Plus Jakarta Sans;
font-weight: 600;
}
.p-Home.Flex14 {
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
align-content: center;
width: 100%;
}
.p-Home.Flex10 {
display: flex;
justify-content: space-between;
align-items: center;
align-content: stretch;
width: 70%;
margin-top: ;
}
.p-Home.Flex12 {
display: flex;
}
.p-Home.Flex11 {
display: flex;
flex-direction: column;
font-family: Plus Jakarta Sans;
font-weight: 800;
font-size: 50px;
width: 100%;
margin-bottom: ;
align-items: stretch;
}
.p-Home.Flex17 {
display: flex;
font-family: Plus Jakarta Sans;
width: 100%;
align-items: center;
justify-content: flex-start;
margin-top: 40px;
column-gap: ;
padding-left: ;
clear: none;
align-self: auto;
align-content: stretch;
}
.p-Home.Image5 {
;
}
.p-Home.TextBox15 {
width: ;
}
.p-Home.TextBox17 {
;
}
.p-Home.TextBox18 {
;
}
.p-Home.TextBox19 {
font-family: Plus Jakarta Sans;
font-weight: 600;
}
.p-Home.TextBox20 {
;
}
.p-Home.Image8 {
width: 15px;
}
.p-Home.Image10 {
width: 25rem;
height: 27rem;
margin-top: 30px;
margin-left: ;
}
.p-Home.TextBox24 {
;
}
.p-Home.TextBox25 {
;
}
.p-Home.TextBox27 {
;
}
.p-Home.TextBox28 {
font-family: Plus Jakarta Sans;
font-weight: 500;
font-size: 18px;
color: #606060;
line-height: 20px;
margin-top: 15px;
}
.p-Home.Button3 {
color: #fff;
background-color: #0a0a0a;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
font-size: 18px;
border-radius: 0px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
font-family: Plus Jakarta Sans;
margin-right: 10px;
}
.p-Home.TextBox29 {
font-family: Plus Jakarta Sans;
font-weight: 700;
font-size: 18px;
margin-right: 5px;
}
.p-Home.Image11 {
;
}
